// Bootstrap variables.
@import '../bootstrap/assets/stylesheets/bootstrap/variables';

// Overwrite variables
@import './default-variables';

// Bootstrap mixins
@import '../bootstrap/assets/stylesheets/bootstrap/mixins';

@mixin transform($transition) {
  -ms-transform: $transition;
  -webkit-transform: $transition;
  transform: $transition;
}

$transition: 0.5s;

a,
button {
  @include transition($transition);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $brand-primary;
  font-weight: 700;
}

.copyright {
  padding: 30px 0;
  border-top: 8px solid $brand-primary;
}

.footer {
  background: #333;
  color: $body-bg;
  border: none;
  padding-top: 40px;
  padding-bottom: 40px;

  .block {
    .block-title {
      margin-top: 0;
      font-weight: 500;
      color: $body-bg;
    }
  }

  a {
    color: $body-bg;

    &:hover {
      color: $brand-primary;
    }
  }
}

.lang_dropdown_form {
  .language-icon {
    display: inline;
    margin-right: 10px;
    width: 21px;
    height: 14px;
    position: relative;
    top: -1px;
    border: 1px solid #ddd;
  }
}

.region-navigation {
  .block {
    padding: 8px 15px;
    margin: 0 !important;
    float: left !important;
  }
}

#navbar {
  margin-top: 0;
  margin-bottom: 0;
}

.main-container {
  margin-top: 45px;
}

.sidebar {
  .block {
    margin-bottom: 40px;

    .block-title {
      border-bottom: 4px solid $brand-primary;
      padding-bottom: 7px;
      font-weight: 700;
    }
  }
}

.node {
  header {
    * {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  > * {
    margin-bottom: 25px;
  }
}

.node-content {
  h1,
  h2,
  ul,
  ol,
  p,
  pre,
  dl,
  blockquote {
    margin: 0 0 25px 0;
  }

  ul,
  ol {
    padding-left: 20px;
  }

  li {
    margin: 5px 0;
  }

  dt {
    margin-bottom: 0;
  }

  dd {
    margin-bottom: 10px;
  }
}

.breadcrumb {
  padding: 0;
  background: none;
  margin-bottom: 40px;
  border-left: 3px solid $brand-primary;
  padding-left: 10px;
  border-radius: 0;

  a {
    font-weight: 500;
  }
}

.page-header {
  font-size: 47px;
  color: #333;
  margin-bottom: 25px;
  font-weight: 500;
}

.tabs--primary {
  text-align: right;
  border: none;

  li {
    float: none;
    display: inline-block;
    border-bottom: 1px solid #eee;
  }
}

.navbar.navbar-default {
  .navbar-nav {
    > li {
      > .dropdown-menu-xp {
        > li {
          > a {
            padding-left: 0;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 13px;
            color: $brand-primary;
            border-bottom: 1px solid #eee;
            padding-right: 40px;
          }
        }
      }
    }

    .dropdown-menu-xp {
      padding: 0;
      background: #fff;

      a {
        display: block;
        padding: 10px 0 10px 10px;
        color: #303030;
        text-decoration: none;

        &:hover {
          color: $brand-primary;
        }
      }

      .dropdown-menu-xp {
        display: none;
      }

      > .active-trail {
        > .dropdown-menu-xp {
          display: block;
        }
      }

      .dropdown-expanded {
        .dropdown-toggle-xp {
          > .caret {
            @include transform(rotate(180deg));
          }
        }
      }
    }

    .dropdown-toggle-xp {
      > .caret {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        border: none;
        font-size: 16px;
        margin: 0;
        text-align: center;
        line-height: 40px;
      }
    }
  }
}

.background-mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  visibility: hidden;
  opacity: 0;
  @include transition($transition);
  z-index: 800;

  &.background-mobile-area {
    opacity: 0 !important;
    z-index: auto;
  }
}

.navbar-toggle-inside {
  position: absolute;
  top: 10px;
  right: 5px;
  float: right;
  margin: 0;
  padding: 9px 10px;
  border-radius: 4px;
  border: none;
  height: 32px;
  display: none;

  .icon-bar {
    position: relative;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #333;

    &:last-child {
      @include transform(rotate(-45deg));
      top: 0;
    }

    &:nth-child(2) {
      @include transform(rotate(45deg));
      top: 5px;
    }

    &:nth-child(3) {
      opacity: 0;
    }
  }
}

#navbar-collapse {
  .navbar-toggle {
    display: none;
  }
}

body.show-nav {
  height: 100%;
  overflow: hidden;

  .background-mobile {
    visibility: visible;
    opacity: 0.42;
  }

  #navbar-collapse {
    opacity: 1;
    visibility: visible;

    > nav {
      right: 0;
      @include transition($transition);
    }

    .navbar-toggle {
      display: block;
    }
  }

  .navbar-toggle-inside {
    display: block;
  }
}

.menu-secondary {
  li {
    a {
      font-weight: 400 !important;
    }
  }
}

#top-bar {
  background: #eee;

  h2 {
    margin-top: 20px;
  }

  form {
    margin-top: 13px;
    margin-bottom: 20px;
  }
}

.views-exposed-form {
  .form-inline {
    > * {
      margin-right: 5px;
      width: auto;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


.search-results {
  .views-row {
    border: 1px solid #eee;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;

    > .views-field {
      margin: 5px 0;

      &:first-child {
        margin-top: 0;
      }
    }

    .views-field-field-school-area-1 {
      font-size: 20px;
      font-weight: 700;
    }

    .views-field-field-school-name,
    .views-field-field-school-name-jp {
      font-size: 18px;
      font-weight: 700;
    }

    .views-field-field-school-name-jp {
      margin-top: -5px;
    }

    .views-field-field-school-image {
      overflow: hidden;
      width: 100px;
      float: left;
      margin-right: 10px;

      img {
        width: 100%;
        @include transition($transition);

        &:hover {
          @include transform(scale(1.1));
        }
      }
    }

    .views-field-field-school-nearest-station {
      clear: both;
    }

    .views-field-field-school-nearest-station,
    .views-field-field-school-student-capacity,
    .views-field-field-school-number-classroom,
    .views-field-field-school-feature {
      > span {
        font-weight: 500;
        margin-right: 10px;
      }

      > .field-content {
        display: inline;
      }
    }

    .views-field-field-school-introduction {
      clear: both;
      padding: 10px;
      position: relative;
      top: 5px;
      background: #f1f1f1;
    }
  }
}

.views-field-field-school-nearest-station,
.views-field-field-school-feature {
  > .field-content {
    * {
      display: inline;
      padding: 0;
      margin: 0;
    }

    li {
      &:before {
        font-family: "Glyphicons Halflings";
        position: relative;
        top: -2px;
        font-size: 9px;
        content: "\e080";
        color: $brand-primary;
        margin-right: 5px;
      }
      margin-right: 10px;
    }
  }
}

.views-field-field-school-address .field-content:before,
.field-name-field-school-address .field-item:before {
  font-family: "Glyphicons Halflings";
  content: "\e021";
  margin-right: 8px;
}

.views-field-field-school-nearest-station:before,
.field-name-field-school-nearest-station:before {
  font-family: "Glyphicons Halflings";
  content: "\e024";
  margin-right: 4px;
}

.views-field-field-school-student-capacity:before,
.field-name-field-school-student-capacity:before,
.field-name-field-school-number-staff:before,
.field-name-field-school-number-staff-fullti:before {
  font-family: "Glyphicons Halflings";
  content: "\e008";
  margin-right: 4px;
}

.views-field-field-school-number-classroom:before,
.field-name-field-school-number-classroom:before {
  font-family: "Glyphicons Halflings";
  content: "\e233";
  margin-right: 4px;
}

.views-field-field-school-feature:before,
.field-name-field-school-feature:before {
  font-family: "Glyphicons Halflings";
  content: "\e006";
  margin-right: 4px;
}

.field-name-field-school-year-established:before {
  font-family: "Glyphicons Halflings";
  content: "\f8ff";
  margin-right: 4px;
}

.field-name-field-visa-offered:before {
  font-family: "Glyphicons Halflings";
  content: "\e067";
  margin-right: 4px;
}

.field-name-field-school-institute-status:before {
  font-family: "Glyphicons Halflings";
  content: "\e086";
  margin-right: 4px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.node-japaneseschool {
  .node-content {
    > .row {
      margin-bottom: 20px;

      .field-item > *:last-child {
        margin-bottom: 0;
      }
    }

    .field-name-field-school-map {
      iframe {
        width: 100%;
        height: 335px;
      }
    }

    .galleryformatter {
      padding-top: 62%;
      padding-bottom: 80px !important;

      .gallery-slide {
        margin-top: 0;
      }

      .gallery-thumbs {
        li {
          padding: 0;
          margin: 0;

          a {
            padding: 0;
          }
        }

        .empty {
          display: none;
        }
      }
    }
  }

  .field-name-field-school-name,
  .field-name-field-school-name-jp {
    font-size: 18px;
    font-weight: 700;
    color: $brand-primary;
  }

  .field-label,
  .field-items {
    display: inline-block;
    float: none !important
  }

  .field-label {
    margin-right: 10px;
  }

  .field {
    margin: 5px 0;
    display: block;

    &:before {
      display: inline-block;
    }
  }

  .field-items {
    .field-item {
      display: inline-block;
    }
  }

  .field-name-field-school-nearest-station,
  .field-name-field-school-feature {
    .field-item {
      margin-right: 10px;

      &:before {
        font-family: "Glyphicons Halflings";
        position: relative;
        top: -2px;
        font-size: 9px;
        content: "\e080";
        color: $brand-primary;
        margin-right: 5px;
      }
    }
  }

  .field-name-field-school-url-fee,
  .field-name-field-school-skype {
    display: inline-block;
    margin-right: 50px;
  }

  .field-name-field-school-skype {
    .field-item {
      float: left;
    }
  }

  .field-name-field-school-url-visa,
  .field-name-field-school-phone,
  .field-name-field-school-url-contact-form,
  .field-name-field-school-address {
    display: inline-block;
  }

  .field-name-field-school-phone-area-code,
  .field-name-field-school-postal-code {
    display: inline-block;
    margin-right: 10px;
  }

  .field-name-field-school-skype {
    img {
      margin: 0 !important;
      vertical-align: 0 !important;
      width: 60px;
    }

    .field-item {
      > div {
        > p {
          margin-bottom: 0 !important;
          font-size: 0 !important;
        }

      }
    }
  }

  .field-name-field-school-image {
    width: 100%;

    .field-items,
    .field-item {
      display: block;
    }
  }

  .field-name-field-school-map {
    width: 100%;

    .field-items,
    .field-item {
      width: 100%;
    }
  }
}

.other-information {
  display: none;
}

.block-info {
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px;
}

.field-school-feature {
  &:before {
    top: 0px !important;
    font-size: inherit !important;
  }

  &.field-school-feature-accepts-beginner-students:before {
    content: "\f8ff" !important;
  }

  &.field-school-feature-student-lounge:before {
    content: "\e013" !important;
  }

  &.field-school-feature-english-speaking-staff:before {
    content: "\e233" !important;
  }

  &.field-school-feature-interact-with-japanese-students:before {
    content: "\e111" !important;
  }

  &.field-school-feature-part-time-job-support:before {
    content: "\e225" !important;
  }

  &.field-school-feature-support-for-finding-full-time-employment:before {
    content: "\e139" !important;
  }

  &.field-school-feature-wifi:before {
    content: "\e145" !important;
  }
}

.logo {
  .block-content {
    font-size: 18px;

    * {
      vertical-align: middle;
    }

    a {
      color: #777;

      &:hover {
        text-decoration: none;
      }
    }
  }
}


// with mobile menu
@media (max-width: $grid-float-breakpoint-max) {
  .navbar.navbar-default {
    .navbar-nav {
      > li {
        > a {
          background: none !important;
          padding-left: 0;
          font-size: 20px;
          border-bottom: 1px solid #eee;
        }

        > .dropdown-menu-xp {
          > li {
            > a {
              border: none;
            }
          }
        }
      }
    }
  }

  .region-navigation {
    .block {
      padding: 0;
    }
  }

  #navbar-collapse {
    display: block !important;
    opacity: 0;
    visibility: hidden;
    z-index: 1700;
    position: fixed;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    > nav {
      @include transition($transition);
      background: #fff;
      @include box-shadow(0 30px 36px rgba(0,0,0,0.19));
      padding: 40px 17px 10px 25px;
      position: absolute;
      top: 0;
      right: -350px;
      min-width: 265px;
      max-width: 320px;
      height: 100%;
      overflow: auto;
    }

    .navbar-nav {
      margin: 20px 0;
    }
  }
}

// with desktop menu
@media (min-width: $grid-float-breakpoint) {
  .navbar.navbar-default {
    .navbar-nav {
      > li {
        position: relative;

        > a {
          font-weight: 500;
          color: $brand-primary;

          span {
            display: none;
          }

          &:hover {
            color: lighten($brand-primary, 20%);
          }
        }

        &.active {
          > a {
            color: #333;
            background: none;
            position: relative;

            &:after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 2px;
              background: $brand-primary;
            }
          }
        }

        > .dropdown-menu-xp {
          visibility: hidden;
          opacity: 0;
          @include transition($transition);
          position: absolute;
          width: 270px;
          margin-top: -2px;
          left: 50%;
          z-index: 800;
          border-top: 3px solid $brand-primary;
          @include box-shadow(0 4px 17px rgba(0,0,0,0.24));
          @include transform(translate(-50%));
          padding: 15px 22px;
        }

        &:hover {
          > .dropdown-menu-xp {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  .region-navigation {
    .block {
      padding: 8px 15px;
      margin: 0 !important;
      float: left !important;

      &:not(:last-child) {
        padding-right: 0;
      }
    }
  }
}


@media (min-width: $screen-xs-min) {

}


@media (min-width: $screen-sm-min) {

}


@media (min-width: $screen-md-min) {
  .search-results {
    .views-row {
      .views-field-field-school-image {
        width: 200px;
      }

      .views-field-field-school-nearest-station {
        clear: none;
      }
    }
  }
}


@media (min-width: $screen-lg-min) {
  .search-results {
    .views-row {
      .views-field-field-school-student-capacity,
      .views-field-field-school-number-classroom {
        display: inline-block;
      }

      .views-field-field-school-student-capacity {
        margin-right: 50px;
      }
    }
  }
}















