/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */
/*$navbar-default-link-color:                $brand-primary;
$navbar-default-link-hover-color:          lighten($brand-primary, 20%);
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         #222;
$navbar-default-link-active-bg:            transparent;
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         $navbar-default-link-hover-color;
$navbar-default-brand-hover-bg:            transparent;*/
/* Large devices (large desktops, 1200px and up) */
