/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */
/*$navbar-default-link-color:                $brand-primary;
$navbar-default-link-hover-color:          lighten($brand-primary, 20%);
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         #222;
$navbar-default-link-active-bg:            transparent;
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         $navbar-default-link-hover-color;
$navbar-default-brand-hover-bg:            transparent;*/
a,
button {
  transition: 0.5s; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0091ad;
  font-weight: 700; }

.copyright {
  padding: 30px 0;
  border-top: 8px solid #0091ad; }

.footer {
  background: #333;
  color: #fff;
  border: none;
  padding-top: 40px;
  padding-bottom: 40px; }
  .footer .block .block-title {
    margin-top: 0;
    font-weight: 500;
    color: #fff; }
  .footer a {
    color: #fff; }
    .footer a:hover {
      color: #0091ad; }

.lang_dropdown_form .language-icon {
  display: inline;
  margin-right: 10px;
  width: 21px;
  height: 14px;
  position: relative;
  top: -1px;
  border: 1px solid #ddd; }

.region-navigation .block {
  padding: 8px 15px;
  margin: 0 !important;
  float: left !important; }

#navbar {
  margin-top: 0;
  margin-bottom: 0; }

.main-container {
  margin-top: 45px; }

.sidebar .block {
  margin-bottom: 40px; }
  .sidebar .block .block-title {
    border-bottom: 4px solid #0091ad;
    padding-bottom: 7px;
    font-weight: 700; }

.node header *:first-child {
  margin-top: 0; }

.node > * {
  margin-bottom: 25px; }

.node-content h1,
.node-content h2,
.node-content ul,
.node-content ol,
.node-content p,
.node-content pre,
.node-content dl,
.node-content blockquote {
  margin: 0 0 25px 0; }

.node-content ul,
.node-content ol {
  padding-left: 20px; }

.node-content li {
  margin: 5px 0; }

.node-content dt {
  margin-bottom: 0; }

.node-content dd {
  margin-bottom: 10px; }

.breadcrumb {
  padding: 0;
  background: none;
  margin-bottom: 40px;
  border-left: 3px solid #0091ad;
  padding-left: 10px;
  border-radius: 0; }
  .breadcrumb a {
    font-weight: 500; }

.page-header {
  font-size: 47px;
  color: #333;
  margin-bottom: 25px;
  font-weight: 500; }

.tabs--primary {
  text-align: right;
  border: none; }
  .tabs--primary li {
    float: none;
    display: inline-block;
    border-bottom: 1px solid #eee; }

.navbar.navbar-default .navbar-nav > li > .dropdown-menu-xp > li > a {
  padding-left: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #0091ad;
  border-bottom: 1px solid #eee;
  padding-right: 40px; }

.navbar.navbar-default .navbar-nav .dropdown-menu-xp {
  padding: 0;
  background: #fff; }
  .navbar.navbar-default .navbar-nav .dropdown-menu-xp a {
    display: block;
    padding: 10px 0 10px 10px;
    color: #303030;
    text-decoration: none; }
    .navbar.navbar-default .navbar-nav .dropdown-menu-xp a:hover {
      color: #0091ad; }
  .navbar.navbar-default .navbar-nav .dropdown-menu-xp .dropdown-menu-xp {
    display: none; }
  .navbar.navbar-default .navbar-nav .dropdown-menu-xp > .active-trail > .dropdown-menu-xp {
    display: block; }
  .navbar.navbar-default .navbar-nav .dropdown-menu-xp .dropdown-expanded .dropdown-toggle-xp > .caret {
    transform: rotate(180deg); }

.navbar.navbar-default .navbar-nav .dropdown-toggle-xp > .caret {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 16px;
  margin: 0;
  text-align: center;
  line-height: 40px; }

.background-mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  z-index: 800; }
  .background-mobile.background-mobile-area {
    opacity: 0 !important;
    z-index: auto; }

.navbar-toggle-inside {
  position: absolute;
  top: 10px;
  right: 5px;
  float: right;
  margin: 0;
  padding: 9px 10px;
  border-radius: 4px;
  border: none;
  height: 32px;
  display: none; }
  .navbar-toggle-inside .icon-bar {
    position: relative;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #333; }
    .navbar-toggle-inside .icon-bar:last-child {
      transform: rotate(-45deg);
      top: 0; }
    .navbar-toggle-inside .icon-bar:nth-child(2) {
      transform: rotate(45deg);
      top: 5px; }
    .navbar-toggle-inside .icon-bar:nth-child(3) {
      opacity: 0; }

#navbar-collapse .navbar-toggle {
  display: none; }

body.show-nav {
  height: 100%;
  overflow: hidden; }
  body.show-nav .background-mobile {
    visibility: visible;
    opacity: 0.42; }
  body.show-nav #navbar-collapse {
    opacity: 1;
    visibility: visible; }
    body.show-nav #navbar-collapse > nav {
      right: 0;
      transition: 0.5s; }
    body.show-nav #navbar-collapse .navbar-toggle {
      display: block; }
  body.show-nav .navbar-toggle-inside {
    display: block; }

.menu-secondary li a {
  font-weight: 400 !important; }

#top-bar {
  background: #eee; }
  #top-bar h2 {
    margin-top: 20px; }
  #top-bar form {
    margin-top: 13px;
    margin-bottom: 20px; }

.views-exposed-form .form-inline > * {
  margin-right: 5px;
  width: auto; }
  .views-exposed-form .form-inline > *:last-child {
    margin-right: 0; }

.search-results .views-row {
  border: 1px solid #eee;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden; }
  .search-results .views-row > .views-field {
    margin: 5px 0; }
    .search-results .views-row > .views-field:first-child {
      margin-top: 0; }
  .search-results .views-row .views-field-field-school-area-1 {
    font-size: 20px;
    font-weight: 700; }
  .search-results .views-row .views-field-field-school-name,
  .search-results .views-row .views-field-field-school-name-jp {
    font-size: 18px;
    font-weight: 700; }
  .search-results .views-row .views-field-field-school-name-jp {
    margin-top: -5px; }
  .search-results .views-row .views-field-field-school-image {
    overflow: hidden;
    width: 100px;
    float: left;
    margin-right: 10px; }
    .search-results .views-row .views-field-field-school-image img {
      width: 100%;
      transition: 0.5s; }
      .search-results .views-row .views-field-field-school-image img:hover {
        transform: scale(1.1); }
  .search-results .views-row .views-field-field-school-nearest-station {
    clear: both; }
  .search-results .views-row .views-field-field-school-nearest-station > span,
  .search-results .views-row .views-field-field-school-student-capacity > span,
  .search-results .views-row .views-field-field-school-number-classroom > span,
  .search-results .views-row .views-field-field-school-feature > span {
    font-weight: 500;
    margin-right: 10px; }
  .search-results .views-row .views-field-field-school-nearest-station > .field-content,
  .search-results .views-row .views-field-field-school-student-capacity > .field-content,
  .search-results .views-row .views-field-field-school-number-classroom > .field-content,
  .search-results .views-row .views-field-field-school-feature > .field-content {
    display: inline; }
  .search-results .views-row .views-field-field-school-introduction {
    clear: both;
    padding: 10px;
    position: relative;
    top: 5px;
    background: #f1f1f1; }

.views-field-field-school-nearest-station > .field-content *,
.views-field-field-school-feature > .field-content * {
  display: inline;
  padding: 0;
  margin: 0; }

.views-field-field-school-nearest-station > .field-content li,
.views-field-field-school-feature > .field-content li {
  margin-right: 10px; }
  .views-field-field-school-nearest-station > .field-content li:before,
  .views-field-field-school-feature > .field-content li:before {
    font-family: "Glyphicons Halflings";
    position: relative;
    top: -2px;
    font-size: 9px;
    content: "\e080";
    color: #0091ad;
    margin-right: 5px; }

.views-field-field-school-address .field-content:before,
.field-name-field-school-address .field-item:before {
  font-family: "Glyphicons Halflings";
  content: "\e021";
  margin-right: 8px; }

.views-field-field-school-nearest-station:before,
.field-name-field-school-nearest-station:before {
  font-family: "Glyphicons Halflings";
  content: "\e024";
  margin-right: 4px; }

.views-field-field-school-student-capacity:before,
.field-name-field-school-student-capacity:before,
.field-name-field-school-number-staff:before,
.field-name-field-school-number-staff-fullti:before {
  font-family: "Glyphicons Halflings";
  content: "\e008";
  margin-right: 4px; }

.views-field-field-school-number-classroom:before,
.field-name-field-school-number-classroom:before {
  font-family: "Glyphicons Halflings";
  content: "\e233";
  margin-right: 4px; }

.views-field-field-school-feature:before,
.field-name-field-school-feature:before {
  font-family: "Glyphicons Halflings";
  content: "\e006";
  margin-right: 4px; }

.field-name-field-school-year-established:before {
  font-family: "Glyphicons Halflings";
  content: "\f8ff";
  margin-right: 4px; }

.field-name-field-visa-offered:before {
  font-family: "Glyphicons Halflings";
  content: "\e067";
  margin-right: 4px; }

.field-name-field-school-institute-status:before {
  font-family: "Glyphicons Halflings";
  content: "\e086";
  margin-right: 4px; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.node-japaneseschool .node-content > .row {
  margin-bottom: 20px; }
  .node-japaneseschool .node-content > .row .field-item > *:last-child {
    margin-bottom: 0; }

.node-japaneseschool .node-content .field-name-field-school-map iframe {
  width: 100%;
  height: 335px; }

.node-japaneseschool .node-content .galleryformatter {
  padding-top: 62%;
  padding-bottom: 80px !important; }
  .node-japaneseschool .node-content .galleryformatter .gallery-slide {
    margin-top: 0; }
  .node-japaneseschool .node-content .galleryformatter .gallery-thumbs li {
    padding: 0;
    margin: 0; }
    .node-japaneseschool .node-content .galleryformatter .gallery-thumbs li a {
      padding: 0; }
  .node-japaneseschool .node-content .galleryformatter .gallery-thumbs .empty {
    display: none; }

.node-japaneseschool .field-name-field-school-name,
.node-japaneseschool .field-name-field-school-name-jp {
  font-size: 18px;
  font-weight: 700;
  color: #0091ad; }

.node-japaneseschool .field-label,
.node-japaneseschool .field-items {
  display: inline-block;
  float: none !important; }

.node-japaneseschool .field-label {
  margin-right: 10px; }

.node-japaneseschool .field {
  margin: 5px 0;
  display: block; }
  .node-japaneseschool .field:before {
    display: inline-block; }

.node-japaneseschool .field-items .field-item {
  display: inline-block; }

.node-japaneseschool .field-name-field-school-nearest-station .field-item,
.node-japaneseschool .field-name-field-school-feature .field-item {
  margin-right: 10px; }
  .node-japaneseschool .field-name-field-school-nearest-station .field-item:before,
  .node-japaneseschool .field-name-field-school-feature .field-item:before {
    font-family: "Glyphicons Halflings";
    position: relative;
    top: -2px;
    font-size: 9px;
    content: "\e080";
    color: #0091ad;
    margin-right: 5px; }

.node-japaneseschool .field-name-field-school-url-fee,
.node-japaneseschool .field-name-field-school-skype {
  display: inline-block;
  margin-right: 50px; }

.node-japaneseschool .field-name-field-school-skype .field-item {
  float: left; }

.node-japaneseschool .field-name-field-school-url-visa,
.node-japaneseschool .field-name-field-school-phone,
.node-japaneseschool .field-name-field-school-url-contact-form,
.node-japaneseschool .field-name-field-school-address {
  display: inline-block; }

.node-japaneseschool .field-name-field-school-phone-area-code,
.node-japaneseschool .field-name-field-school-postal-code {
  display: inline-block;
  margin-right: 10px; }

.node-japaneseschool .field-name-field-school-skype img {
  margin: 0 !important;
  vertical-align: 0 !important;
  width: 60px; }

.node-japaneseschool .field-name-field-school-skype .field-item > div > p {
  margin-bottom: 0 !important;
  font-size: 0 !important; }

.node-japaneseschool .field-name-field-school-image {
  width: 100%; }
  .node-japaneseschool .field-name-field-school-image .field-items,
  .node-japaneseschool .field-name-field-school-image .field-item {
    display: block; }

.node-japaneseschool .field-name-field-school-map {
  width: 100%; }
  .node-japaneseschool .field-name-field-school-map .field-items,
  .node-japaneseschool .field-name-field-school-map .field-item {
    width: 100%; }

.other-information {
  display: none; }

.block-info {
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px; }

.field-school-feature:before {
  top: 0px !important;
  font-size: inherit !important; }

.field-school-feature.field-school-feature-accepts-beginner-students:before {
  content: "\f8ff" !important; }

.field-school-feature.field-school-feature-student-lounge:before {
  content: "\e013" !important; }

.field-school-feature.field-school-feature-english-speaking-staff:before {
  content: "\e233" !important; }

.field-school-feature.field-school-feature-interact-with-japanese-students:before {
  content: "\e111" !important; }

.field-school-feature.field-school-feature-part-time-job-support:before {
  content: "\e225" !important; }

.field-school-feature.field-school-feature-support-for-finding-full-time-employment:before {
  content: "\e139" !important; }

.field-school-feature.field-school-feature-wifi:before {
  content: "\e145" !important; }

.logo .block-content {
  font-size: 18px; }
  .logo .block-content * {
    vertical-align: middle; }
  .logo .block-content a {
    color: #777; }
    .logo .block-content a:hover {
      text-decoration: none; }

@media (max-width: 767px) {
  .navbar.navbar-default .navbar-nav > li > a {
    background: none !important;
    padding-left: 0;
    font-size: 20px;
    border-bottom: 1px solid #eee; }
  .navbar.navbar-default .navbar-nav > li > .dropdown-menu-xp > li > a {
    border: none; }
  .region-navigation .block {
    padding: 0; }
  #navbar-collapse {
    display: block !important;
    opacity: 0;
    visibility: hidden;
    z-index: 1700;
    position: fixed;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    #navbar-collapse > nav {
      transition: 0.5s;
      background: #fff;
      box-shadow: 0 30px 36px rgba(0, 0, 0, 0.19);
      padding: 40px 17px 10px 25px;
      position: absolute;
      top: 0;
      right: -350px;
      min-width: 265px;
      max-width: 320px;
      height: 100%;
      overflow: auto; }
    #navbar-collapse .navbar-nav {
      margin: 20px 0; } }

@media (min-width: 768px) {
  .navbar.navbar-default .navbar-nav > li {
    position: relative; }
    .navbar.navbar-default .navbar-nav > li > a {
      font-weight: 500;
      color: #0091ad; }
      .navbar.navbar-default .navbar-nav > li > a span {
        display: none; }
      .navbar.navbar-default .navbar-nav > li > a:hover {
        color: #14d9ff; }
    .navbar.navbar-default .navbar-nav > li.active > a {
      color: #333;
      background: none;
      position: relative; }
      .navbar.navbar-default .navbar-nav > li.active > a:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #0091ad; }
    .navbar.navbar-default .navbar-nav > li > .dropdown-menu-xp {
      visibility: hidden;
      opacity: 0;
      transition: 0.5s;
      position: absolute;
      width: 270px;
      margin-top: -2px;
      left: 50%;
      z-index: 800;
      border-top: 3px solid #0091ad;
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.24);
      transform: translate(-50%);
      padding: 15px 22px; }
    .navbar.navbar-default .navbar-nav > li:hover > .dropdown-menu-xp {
      visibility: visible;
      opacity: 1; }
  .region-navigation .block {
    padding: 8px 15px;
    margin: 0 !important;
    float: left !important; }
    .region-navigation .block:not(:last-child) {
      padding-right: 0; } }

@media (min-width: 992px) {
  .search-results .views-row .views-field-field-school-image {
    width: 200px; }
  .search-results .views-row .views-field-field-school-nearest-station {
    clear: none; } }

@media (min-width: 1200px) {
  .search-results .views-row .views-field-field-school-student-capacity,
  .search-results .views-row .views-field-field-school-number-classroom {
    display: inline-block; }
  .search-results .views-row .views-field-field-school-student-capacity {
    margin-right: 50px; } }


.form-item-field-school-area-tid {
  position: relative;
}